.row
  - if @current
    %h2= "#{ t("navigation.purchaser_category") }: #{ t("categories.#{@current.title}") }"

= form_with url: purchaser_search_path(id: @current.id), method: 'POST', class:"form row g-3 criterium", local: true, data: { turbo: false }  do |form|
  - if @content
    = render partial: "search_criterium", object: @select_box_options, as: "options"
- if @result
  .row
    .col-lg-2
      - if @search
        %div.search_box
          = render partial: 'active_search', collection: @search.pretty_print
    .col-lg-10
      = render partial: 'result', object: @result








