<% if member_masquerade? %>
  <div class="alert alert-warning text-center">
    You're logged in as <b><%= current_member.name %> (<%= current_member.email %>)</b>
    <%= link_to back_masquerade_path(current_member) do %><%= icon("fas", "times") %> Logout <% end %>
  </div>
<% end %>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to Rails.configuration.application_name, locale_root_path, class: "navbar-brand" %>

    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarMain"  aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarMain">
      <ul class="navbar-nav me-auto mt-2 mt-md-0">
        <li class="nav-item"> <%= link_to t("search.index.title"), search_index_path, class: "nav-link" %> </li>
      </ul>

      <ul class="navbar-nav">
        <li class="nav-item"><%= link_to "What's New", announcements_path, class: "nav-link #{unread_announcements(current_member)}" %></li>
        <% if member_signed_in? %>

          <li class="nav-item">
            <%= link_to notifications_path, class: "nav-link" do %>
              <span><i class="far fa-bell" aria-hidden="true"></i></span>
            <% end %>
          </li>

          <li class="nav-item dropdown">
            <%= link_to "#", id: "navbar-dropdown", class: "nav-link dropdown-toggle", data: { "bs-target": "nav-account-dropdown", "bs-toggle": "dropdown" }, aria: { haspopup: true, expanded: false } do %>
              <%= image_tag image_path("avatar.jpg"), height: 20, width: 20, class: "rounded" %>
            <% end %>
            <div id="nav-account-dropdown" class="dropdown-menu dropdown-menu-end" aria-labelledby="navbar-dropdown">
              <% if current_member.admin? && respond_to?(:admin_root_path) %>
                <%= link_to "Admin Area", admin_root_path, class: "dropdown-item" %>
              <% end %>
              <%= link_to "Settings", edit_member_registration_path, class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
              <%= link_to "Logout", destroy_member_session_path, data: { "turbo-method": :delete }, class: "dropdown-item" %>
            </div>
          </li>

        <% else %>
          <li class="nav-item"><%= link_to "Sign Up", new_member_registration_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Login", new_member_session_path, class: "nav-link" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
