<% if @company_profile.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@company_profile.errors.count, "error") %> prohibited this article from being saved:</h2>

    <ul>
      <% @company_profile.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<%= bootstrap_form_with model: @company_profile do |form| %>
    <%= form.text_field :company_name %>
    <%= form.text_field :legal_form %>
    <%= form.text_field :address %>
    <%= form.text_field :phone %>
    <%= form.text_field :contact_email %>
    <%= form.text_field :contact_web %>
    <%= form.text_field :about_us %>
    <%= form.file_field :logo %>
    <% if form.object.logo.attached? %>
        <%= image_tag rails_blob_url(form.object.logo) %>
    <% end %>
    <%= form.color_field :bg_color_hex %>
    <%= form.submit %>
<% end %>
