= label_tag :filter
= select_tag :filter, options_for_select(options), include_blank: true, class: "new_filter form-control"
= select_tag :set_value, options_for_select([]), include_blank: true, class: "new_filter_set_value form-control", disabled: true, multiple: true
= number_field_tag :range_from, nil, class: "new_filter_range_value form-control", disabled: true, min:"0"
= number_field_tag :range_to, nil, class: "new_filter_range_value form-control", disabled: true, min:"0"
= hidden_field_tag :profile_id, params[:id]
= button_tag "#{ t("search.add_filter")}", class: "btn btn-primary form-control"
