.row.m-3
  - if @current
    %h2= "#{ t("navigation.provider_category") }: #{ t("categories.#{@current.title}") }"

= form_with url: provider_search_path(id: @current.id), method: 'POST', class:"form-inline", local: true, data: { turbo: false } do |form|
  .container
    - if @content
      .row.mb-1
        .criterium.mb-1
          = render partial: "search_criterium", object: @select_box_options, as: "options"
- if @result
  .row
    .col-lg-2.m-3
      - if @search
        %div.search_box
          = render partial: 'active_search', collection: @search.pretty_print
    .col-lg-8.m-3.card-columns
      - if @result
        - if @result.any?
          - @result.each do |result|
            = render partial: "company_card", object: result
        - else
          = "#{ t("search.no_results") }"








