<div class="col p-3 rounded">
    <div class="card" style="background-image: url(<%= company_profiles_image_path(company_card.id) %>)">
      <div class="info-grid">
        <div class="name">
          <h2><%= company_card.company_name %></h2>
          <h5><%= company_card.legal_form %></h5>
        </div>
        <div class="addr">
          <p>
            <%= company_card.address %>
          </p>
        </div>
        <div class="phoneNo">
          <p>
            <%= link_to company_card.phone, "tel:#{company_card.phone}"%>
          </p>
        </div>
        <div class="emailId">

          <p class="email">
            <%= mail_to company_card.contact_email %>
          </p>
          <p class="web">
            <%= link_to company_card.contact_web, contact_link(company_card.contact_web), target:"_blank" %>
          </p>
        </div>
      </div>
    </div>
</div>
